<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Form</title>
    <link href="sign-up.component.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <!-- Body of Form starts -->
    <div class="container">
        <form [formGroup]="myform2" method="post" autocomplete="on">
            <!--First name-->
            <div class="box">
                <label for="firstName" class="fl fontLabel"> First Name: </label>
                <div class="fl iconBox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="fr">
                    <input
                        type="text"
                        name="firstName"
                        placeholder="First Name"
                        class="textBox"
                        autofocus="on"
                        formControlName="Fname"
                    />
                    <div
                        class="alert alert-danger"
                        *ngIf="myform2.controls.Fname.touched && myform2.controls.Fname.hasError('required')"
                    >
                        this input is required
                    </div>
                </div>
                <div class="clr"></div>
            </div>
            <!--First name-->

            <!--Second name-->
            <div class="box">
                <label for="secondName" class="fl fontLabel"> Second Name: </label>
                <div class="fl iconBox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="fr">
                    <input
                        type="text"
                        formControlName="Sname"
                        name="secondName"
                        placeholder="Last Name"
                        class="textBox"
                    />
                    <div
                        class="alert alert-danger"
                        *ngIf="myform2.controls.Sname.touched && myform2.controls.Sname.hasError('required')"
                    >
                        this input is required
                    </div>
                </div>
                <div class="clr"></div>
            </div>
            <!--Second name-->

            <!---Phone No.------>
            <div class="box">
                <label for="phone" class="fl fontLabel"> Phone No.: </label>
                <div class="fl iconBox">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                </div>
                <div class="fr">
                    <input
                        type="text"
                        formControlName="PhoneN"
                        name="phoneNo"
                        placeholder="Phone No."
                        class="textBox"
                    />
                    <div
                        class="alert alert-danger"
                        *ngIf="myform2.controls.PhoneN.touched && myform2.controls.PhoneN.hasError('required')"
                    >
                        this input is required
                    </div>
                </div>
                <div class="clr"></div>
            </div>
            <!---Phone No.---->

            <!---Email ID---->
            <div class="box">
                <label for="email" class="fl fontLabel"> Email : </label>
                <div class="fl iconBox">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="fr">
                    <input
                        type="email"
                        formControlName="EmailC"
                        name="email"
                        placeholder="Email"
                        class="textBox"
                    />
                    <div
                        class="alert alert-danger"
                        *ngIf="myform2.controls.EmailC.touched && myform2.controls.EmailC.hasError('required')"
                    >
                        this input is required
                    </div>
                    <div
                        class="alert alert-danger"
                        *ngIf="myform2.controls.EmailC.hasError('email')"
                    >
                        Must Be an Email
                    </div>
                </div>
                <div class="clr"></div>
            </div>
            <!--Email ID----->

            <!---Password------>
            <div class="box">
                <label for="password" class="fl fontLabel"> Password </label>
                <div class="fl iconBox">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="fr">
                    <input
                        type="Password"
                        formControlName="PassR"
                        name="password"
                        placeholder="Password"
                        class="textBox"
                    />
                    <div
                        class="alert alert-danger"
                        *ngIf="myform2.controls.PassR.touched && myform2.controls.PassR.hasError('required')"
                    >
                        this input is required
                    </div>
                    <div
                        class="alert alert-danger"
                        *ngIf="myform2.controls.PassR.hasError('minlength')"
                    >
                        Must Be 8 characters long
                    </div>
                </div>
                <div class="clr"></div>
            </div>
            <!---Password---->



            <!---Submit Button------>
            <div class="box" style="background: #2d3e3f">
                <button type="submit" name="Submit" class="submit" [disabled]="myform2.invalid">
                    SUBMIT
                </button>
            </div>
            <!---Submit Button----->
            <div>
                <p class="mb-5" style="color: rgb(250, 251, 242)">
                    Already have an account?
                    <a href="/Login" class="text-white-50 fw-bold"> Log In</a>
                </p>
            </div>
        </form>
    </div>
    <!--Body of Form ends--->
</body>
</html>
